<style>
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
</style>

html {
    
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: #E6E3D3;
}



.h1, #description{
	font-family: 'Indie Flower', cursive;
	 color: #D7AC5E;	
	 text-align: center;

}
label{
	font-family: "Poppins", sans-serif;
	color: #C5BDD6;
	font-size: 1.3em;
}
.h1{
	font-size: 2.5em;

}

#description{
	font-size: 1.6em;
    padding-bottom: 35px;
}
#title{
	padding-top: 40px;
}
.form-holder{
	display: flex;
	background-color: #1D2F3D ;
	margin: 5px 310px;
	border-radius: 30px;
	justify-content: center;
	align-items: center;

}
h3{
	 font-family: 'Indie Flower', cursive;;
	font-size: 1.4em;
	color: #D7AC5E;
}
form{
	padding: 20px 50px;
	opacity: 100%;
}
.number, .name, .email{
	width: 600px;
	height: 33px;
	padding: 2px 11px;
	border-radius: 5px;
	border-color: white;
	text-align: left;
}
#dropdown, #dropdown2{
	width: 600px;
	height: 45px;
	font-size:1em;
	color: #9BC4AF ;
	border-radius:5px;
}
#textarea{
	width: 600px;
	height: 120px;
	border-color: white;
}
::placeholder{
   font-family: 'Indie Flower', cursive;
	font-size: 1.3em;
	color:#9BC4AF;
}
select{
	padding: 2px 10px;
	 font-family: 'Indie Flower', cursive;;
}
input[type="radio"]{
	font-size: 1.3em;
	font-family: 'Indie Flower', cursive;
	margin:10px;
	width: 25px;
	height: 20px;
}
#gender-label{
	font-size: 1.5em;
	font-family: 'Indie Flower', cursive;
    color: #8B5044;

}
.checkbox{
	margin:10px;
	width: 28px;
	height: 20px;
	color: #8B5044
}


button{
margin: 30px 0px;
border-color: none;
width: 600px;
height: 49px;
text-align: center;
background-color: #8B5044;
border: 0px;

}
.button{
	cursor: pointer;
}
@media ( min-width:576px){
	.container{
		max-width:540px;
	}
@media (min-width:768px){
	 .container{
		 max-width:720px;
		}
	}
@media (min-width:480px) {
	form{
		padding:2.5rem;
	}
	}
@media screen and (min-width: 500px){
	.h1{
		font-size: 1.5em;
	}
	.Head{
		justify-content: center;
	}
	label{
		font-size: 1em;
	}
	#description{
		font-size: 1em;
		justify-content: center;
	}
	#title{
		padding-top: 20px;
		justify-content: center;
	}
	.form-holder{
		margin: auto 150;
		justify-content: center;
		align-items: center;
		display: inline-block;
	}
	.number, .email, .name{
		width: auto;
		height: auto;
		padding: 2px 11px;
	border-radius: 5px;
	border-color: white;
	justify-content: center;
	text-align: center;
	}
	#dropdown, #dropdown2{
	width: auto;
	height: auto;
	font-size:1em;
	color: #9BC4AF ;
	border-radius:5px;
}
#textarea{
	width: 200px;
	height: 100px;
	border-color: white;
}
button{
margin: 30px 0px;
border-color: none;
width: 110px;
height: auto;
justify-content: center;
text-align: center;
background-color: #8B5044;
border: 0px;

}
.button{
	justify-content: center;
}
}
